# Zookeeper Configuration
ZOOKEEPER_TICK_TIME=2000
ZOOKEEPER_INIT_LIMIT=5
ZOOKEEPER_SYNC_LIMIT=2

# Kafka Configuration
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=3
KAFKA_DEFAULT_REPLICATION_FACTOR=3
KAFKA_NUM_PARTITIONS=3 